# /etc/udev/rules.d/98-usb-automount.rules
# Auto-mount USB mass storage partitions when plugged in.

# Partition-based drive mounting sequence
ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", \
    ENV{DEVTYPE}=="partition", ENV{ID_FS_TYPE}!="", \
    RUN+="/usr/local/bin/usb-mount.sh '%k' '%E{ID_FS_TYPE}' '%E{ID_FS_LABEL}'"

# Whole-disk mounting sequence (Single unpartitioned raw blocks)
ACTION=="add", SUBSYSTEMS=="usb", SUBSYSTEM=="block", \
    ENV{DEVTYPE}=="disk", ENV{ID_FS_TYPE}!="", \
    RUN+="/usr/local/bin/usb-mount.sh '%k' '%E{ID_FS_TYPE}' '%E{ID_FS_LABEL}'"

# Removal and clean extraction breakdown string
ACTION=="remove", SUBSYSTEMS=="usb", SUBSYSTEM=="block", \
    RUN+="/usr/local/bin/usb-umount.sh '%k'"
