[Unit]
Description=CyberDeck Web
After=network.target redis-cyberdeck.service
Requires=redis-cyberdeck.service

[Service]
Type=simple
WorkingDirectory=/opt/cyberdeck
Environment=NODE_ENV=production
ExecStartPre=/opt/cyberdeck/deploy/scripts/app-init.sh
ExecStart=/usr/bin/node /opt/cyberdeck/server.js
Restart=on-failure
User=cyberdeck

[Install]
WantedBy=multi-user.target
