[Unit]
Description=CyberDeck Kiosk (Weston)
After=cyberdeck-web.service systemd-logind.service
Requires=cyberdeck-web.service

[Service]
Type=simple
User=cyberdeck
Group=cyberdeck
PAMName=login
Environment=HOME=/home/cyberdeck
Environment=XDG_SEAT=seat0
Environment=XDG_VTNR=1
ExecStartPre=-/usr/bin/plymouth quit
ExecStart=/usr/bin/weston --config=/etc/xdg/weston/weston.ini --tty=1
Restart=on-failure
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=graphical.target
