[Match]
Name=eth0

[Network]
# eth0 is just the raw transport for batman-adv
# Do not require it to be connected for the boot process to finish
RequiredForOnline=no
DHCP=no
LinkLocalAddressing=ipv4
IPv6AcceptRA=no

[Link]
# Force the interface up so batman-adv can bind even without a cable
ActivationPolicy=always-up
