[Unit]
Description=CyberDeck Identity & Mesh Setup
After=local-fs.target
Before=systemd-networkd.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/cyberdeck-identity
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
