[Unit]
Description=Cyberdeck nftables firewall
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/nft -f /etc/nftables/cyberdeck.nft
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
